<p>Hello,</p>
<p style='font-weight: bold'>You got answer to your questions.</p>
<p>Question title: <%= @idea.title %></p>
<p>The Answer: <%= @comment.body %></p>
<p><%= link_to 'Click Here to View the question', question_url(@idea) %></p>
<p>Regards,</p>
<p>Great Ideas Team</p>
